@mixin font-face($font-family, $font-src, $font-weight, $font-style: normal) {
  @font-face {
    font-family: $font-family;
    src: $font-src;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

@mixin standard-content-font() {
  font-size: 14px;
  line-height: 18px;
  font-family: $primary-font;
  font-weight: 400;
  color: $primary-text-color;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 16px;
    line-height: 24px;
  }
}
