/* здесь используйте глобальные селекторы img, body, html и так далее */
body,
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin-block: 0 0;
  margin-inline: 0 0;
  padding-inline-start: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
