/* stylelint-disable rule-empty-line-before */
/* stylelint-disable block-no-empty */

.address {
  @include standard-content-font();
  line-height: 20px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 16px;
    line-height: 20px;
  }
}

.address__street{

}

.address__city {

}
