.contacts {
  background-color: $bg-accent-color;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background-color: transparent;

  @media screen and (min-width: $tablet-viewport) {
    padding: 40px 0;
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__logo {
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $tablet-viewport) {
    width: 128px;
    display: block;
    text-align: left;
  }
}

.contacts__social {
  @include flex-column-center();
  padding: 10px 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;

  @media screen and (min-width: $tablet-viewport) {
    border: none;
    width: fit-content;
  }
}

.contacts__copyright {
  padding: 10px 0;
  width: 100%;

  @media screen and (min-width: $tablet-viewport) {
    width: 168px;
  }
}
