.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
  font-family: $primary-font;
  font-weight: 400;
  color: $primary-text-color;
}

.copyright__image {
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask-image: url("/icons/stack.svg#htmlacademy");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
  mask-position: center;
}
