.costs {
  font-family: $header-font;
  color: $header-primary-text-color;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  @media screen and (min-width: $desktop-viewport) {
    flex-direction: row;
  }
}

.costs__title {
  @media screen and (min-width: $tablet-viewport) {
    padding-bottom: 10px;
  }

  @media screen and (min-width: $desktop-viewport) {
    padding-bottom: 0;
    padding-right: 70px;
  }
}
