.hero {
  font-family: $header-font;
  color: $accent-text-color;
  background-image: linear-gradient(to top, #ffffff 50%, $bg-primary-color 50%, $bg-primary-color 100%); //url("/images/hero-cat@2x.png"),
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media screen and (min-width: $tablet-viewport) {
    background: none;
    color: $header-primary-text-color;
  }

  @media screen and (min-width: $desktop-viewport) {
    padding-top: 65px;
    background: linear-gradient(to right, #ffffff 50%, $bg-primary-color 50%, $bg-primary-color 100%);
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media screen and (min-width: $tablet-viewport) {
    align-items: flex-start;
    padding: 0 80px;
    min-height: 860px;
  }

  @media screen and (min-width: $desktop-viewport) {
    min-height: 694px;
  }
}

.hero__image {
  display: block;
  z-index: 5;

  @media screen and (min-width: $tablet-viewport) {
    position: absolute;
    top: 200px;
    left: 0;
    z-index: -1;
  }

  @media screen and (min-width: $desktop-viewport) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}

.hero__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  color: $accent-text-color;
  padding: 30px 0 20px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $header-primary-text-color;
  }
}

.hero__content {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  padding: 0 0 20px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

.hero__link {
  width: 100%;

  @media screen and (min-width: $tablet-viewport) {
    width: auto;
  }
}
