/* stylelint-disable rule-empty-line-before */
/* stylelint-disable block-no-empty */

.instructions {

}

.instructions__header {

}

.instructions__list {

}

.instructions__item {
  @include standard-content-font();
}
