.instructions {
  padding-bottom: 50px;

  @media screen and (min-width: $tablet-viewport) {
    padding-bottom: 6px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media screen and (min-width: $desktop-viewport) {
    border-bottom: none;
  }
}

.instructions__header {
  padding: 0 0 40px;
}

.instructions__list {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 20px;

  @media screen and (min-width: $tablet-viewport) {
    grid-gap: 37px 60px;
    grid-template-columns: 1fr 1fr;
    counter-reset: element;
    margin-top: 32px;
  }

  @media screen and (min-width: $desktop-viewport) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.instructions__item {
  @include standard-content-font();
}
