.logo {
  background-color: transparent;

  &:link,
  &:visited {
    opacity: 1;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__image {
  display: block;

  @media screen and (min-width: $tablet-viewport) {
    margin-right: 10px;
  }

  @media screen and (min-width: $desktop-viewport) {
    margin-right: 15px;
  }
}

.logo__text {
  margin-right: 10px;
}
