.navigation {
  background-color: transparent;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;

  @media screen and (min-width: $tablet-viewport) {
    height: 50px;
  }
}

.navigation__menu-button {
  height: 18px;
  width: 18px;
  background-image: url("/icons/stack.svg#burger-menu");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  padding: 0;

  @media screen and (min-width: $tablet-viewport) {
    display: none;
  }
}

.navigation__menu-button--open {
  background-image: url("/icons/stack.svg#close");
}


.navigation__list {
  color: $header-primary-text-color;
}

.navigation__list--accent-color {
  @media screen and (min-width: $desktop-viewport) {
    color: $accent-text-color;
  }
}

.navigation__item {
  font-family: $header-font;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 18px;
    line-height: 24px;
  }

  @media screen and (min-width: $desktop-viewport) {
    font-size: 20px;
    line-height: 20px;
  }

  &.navigation__item--current {
    border-bottom: none;

    @media screen and (min-width: $desktop-viewport) {
      border-bottom: 2px solid $bg-primary-color;
    }
  }
}

.navigation__link {
  color: inherit;
}
