.page {
  font-family: $primary-font;
  background-color: transparent;
  width: 100%;
  max-width: $desktop-viewport;
  margin: 0 auto;
}

.page__body {
  font-family: inherit;
  background-color: transparent;
}

.page__container {
  @include page-container();
}

.page__container--tablet-activate {
  width: 100%;
}
