.product {
  padding: 12px 0 17px;
  display: grid;
  grid-row-gap: 15px;

  @media screen and (min-width: $tablet-viewport) {
    padding: 26px 38px 27px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (min-width: $desktop-viewport) {
    padding: 11px 0 12px;
    flex-wrap: nowrap;
    width: 895px;
    align-items: center;
  }
}

.product__title {
  font-family: $header-font;
  font-weight: 400;
  color: $header-secondary-text-color;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 20px;
    line-height: 20px;
  }

  @media screen and (min-width: $desktop-viewport) {
    width: 330px;
  }
}

.product__content {
  font-size: 14px;
  line-height: 14px;
  font-family: $primary-font;
  font-weight: 400;
  color: $primary-text-color;
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: $tablet-viewport) {
    margin-top: 3px;
    font-size: 16px;
    line-height: 20px;
    width: 50%;
    justify-content: flex-end;
  }

  @media screen and (min-width: $desktop-viewport) {
    justify-content: stretch;
    width: 30%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.product__volume {
  @media screen and (min-width: $tablet-viewport) {
    text-align: right;
  }

  @media screen and (min-width: $desktop-viewport) {
    width: 240px;
    text-align: left;
  }
}

.product__price {
  @media screen and (min-width: $tablet-viewport) {
    margin-right: 2px;
    width: 90px;
    text-align: right;
  }

  @media screen and (min-width: $desktop-viewport) {
    flex-grow: 1;
    flex-shrink: 1;
    text-align: left;
    width: 50px;
  }
}

.product__button {
  width: 100%;

  @media screen and (min-width: $tablet-viewport) {
    margin-top: 7px;
  }

  @media screen and (min-width: $desktop-viewport) {
    width: 244px;
  }
}
