.program {
  position: relative;
  background-color: $bg-accent-color;
  min-height: 266px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  &::before {
    content: "";
    top: 20px;
    left: 20px;
    position: absolute;
    width: 50px;
    min-height: 50px;
    background-color: $bg-primary-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 50px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 3;
    padding: 20px;
  }

  @media screen and (min-width: $tablet-viewport) {
    min-height: 372px;
    width: 100%;
    padding: 60px 50px;

    &::before {
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
    }

    &::after {
      top: 50%;
      left: 75%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 200px;
      padding: 40px;
    }
  }

  @media screen and (min-width: $desktop-viewport) {
    min-height: 374px;

    &::before {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      width: 100px;
      height: 100px;
      margin: 20px;
    }

    &::after {
      top: 0;
      left: 0;
      transform: translate(0, 0);
      width: 100px;
      height: 100px;
      padding: 20px;
    }
  }
}

.program--slim {
  &::after {
    background-image: url("/icons/stack.svg#cat-sit");
    background-size: 36px 50px;
  }

  @media screen and (min-width: $tablet-viewport) {
    &::after {
      background-size: 140px 194px;
    }
  }

  @media screen and (min-width: $desktop-viewport) {
    &::after {
      background-size: 70px 97px;
    }
  }
}

.program--pro {
  &::after {
    background-image: url("/icons/stack.svg#cat-walk");
    background-size: 67px 28px;
  }

  @media screen and (min-width: $tablet-viewport) {
    &::after {
      background-size: 268px 112px;
    }
  }

  @media screen and (min-width: $desktop-viewport) {
    &::after {
      background-size: 134px 567px;
    }
  }
}

.program__header {
  font-family: $header-font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 5px 0 20px 90px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 36px;
    line-height: 36px;
    padding: 0 0 40px;
  }

  @media screen and (min-width: $desktop-viewport) {
    padding: 15px 0 60px 150px;
  }
}

.program__content {
  @include standard-content-font();
  padding-bottom: 20px;

  @media screen and (min-width: $tablet-viewport) {
    width: 340px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: $desktop-viewport) {
    width: 100%;
  }
}

.program__link {
  position: relative;
  background-color: transparent;
  color: $header-primary-text-color;
  font-family: $header-font;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border-radius: $border-radius;
  font-size: 16px;
  line-height: 16px;


  &::after {
    content: "";
    right: -40px;
    top: 9px;
    position: absolute;
    height: 12px;
    width: 24px;
    background-color: $header-primary-text-color;
    mask-image: url("/icons/stack.svg#arrow");
    mask-repeat: no-repeat;
    mask-size: 24px 12px;
  }

  @media screen and (min-width: $tablet-viewport) {
    font-size: 20px;
    line-height: auto;
  }
}
