/* stylelint-disable rule-empty-line-before */
/* stylelint-disable block-no-empty */

.statistic-card {

}

.statistic-card__content {
  font-family: $header-font;
  font-size: 24px;
  line-height: 24px;
  color: $header-primary-text-color;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 30px;
    line-height: 37px;
  }
}

.statistic-card__caption {
  font-family: $primary-font;
  font-size: 12px;

  @media screen and (min-width: $tablet-viewport) {
    font-size: 14px;
    line-height: 14px;
  }
}
